# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user-specific
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
build/

# Swift Package Manager
.build/
*.resolved

# CocoaPods
Pods/
